h1#champions {
  color: #eeeeee;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin: 10px auto;
}

ul#wizards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li.wizard {
  height: 360px;
  margin: 30px auto;
  width: 300px;
}

figure.box {
  height: 360px;
  margin: 0;
  width: 300px;
}

img.image {
  border: 5px solid #eeeeee;
  border-radius: 15px;
  box-sizing: border-box;
  height: 236px;
  width: 177px;
}

img#gryffindor {
  border-color: #a40201;
}

img#slytherin {
  border-color: #00a421;
}

img#ravenclaw {
  border-color: #0052cc;
}

img#hufflepuff {
  border-color: #f9e141;
}

figcaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 117px;
  justify-content: space-between;
}

h1.name {
  color: #eeeeee;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h2.house {
  color: #eeeeee;
  font-family: Nunito;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h2#Gryffindor {
  color: #fc3c3b;
}

h2#Slytherin {
  color: #00a421;
}

h2#Ravenclaw {
  color: #095cda;
}

h2#Hufflepuff {
  color: #f9e141;
}

button#rect1 {
  background: #f9e141;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1f1f1f;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: 40px;
  padding: 10px;
  text-align: center;
}

button#rect1:hover {
  background-color: #00a421;
  cursor: pointer;
  transition: 0.5s;
}
